/* Responsive */
/* smartphone */
@media all and (max-width: 670px){
    body{
        overflow-x: hidden;
        background: linear-gradient(135deg, #1267CF, #e7e7e7);
    }
    .container{
        width: 100%;
        margin-top: 100px;
        margin-bottom: 50px;
    }
    .card{
        position: relative;
        width: 100%;
        max-width: 670px;
    }
    .blob{
        display: none;
    }
    .blob-out{
        display: none;
        position: absolute;
        top: -40%;
        /* transform: translate(-50%, -200%); */
        z-index: -10;
    }
    .card:hover{

    }
    .card:hover .img{
        width: 170px;
        height: 170px;
    }
    .card:hover .profil{
        width: 100%;
    }
    .card:hover .bag1{

    }
    .card:hover .bag2{

    }
    .blob-out svg{
        width: 100%;
    }
    .img{
        position: absolute;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        background-color: #1267CF;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -225%);
    }
    .img img{
        width: 110px;
        height: 170px;
        border-radius: 50%;
        /* background-color: black; */
    }
    .desc{
        display: block;
        width: 100%;
        margin-bottom: -15px;
        /* background-color: slateblue; */
    }
    .profil{
        display: block;
        margin-top: 120px;
        /* background-color: red; */
    }
    .skill{
        display: block;
        width: 100%;
        /* background-color: slateblue; */
    }

    .sosial-media{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .bag1{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .bag2{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .sosial-group .fa-brands{
        display: flex;
        justify-content: center;
        width: 100%;
        border-radius: 15px;
        text-transform: capitalize;

    }
    .fa-whatsapp:after{
        content: "Whatsapp";
        text-transform: capitalize;
        margin-left: 5px;
        font-size: 12px;
    }
    .fa-telegram:after{
        content: "telegram";
        text-transform: lowercase;
        margin-left: 5px;
        font-size: 12px;
    }

    .fa-linkedin:after{
        content: "linkedin";
        text-transform: lowercase;
        margin-left: 5px;
        font-size: 12px;
    }

    .fa-github:after{
        content: "github";
        text-transform: lowercase;
        margin-left: 5px;
        font-size: 12px;
    }
    .fa-instagram:after{
        content: "instagram";
        text-transform: lowercase;
        margin-left: 5px;
        font-size: 12px;
    }
    .fa-facebook-f:after{
        content: "facebook";
        text-transform: lowercase;
        margin-left: 5px;
        font-size: 12px;
    }

    .card::before{
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100px;
        padding: 12px 0;
        top: -135px;
        left: 0;
        border-radius: 30px;
        background: rgba(255, 255, 255, .8);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        border: 1px solid rgba(255, 255, 255, 0.18);
        backdrop-filter: blur(10px);
    }

    .container::after{
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 50px;
        padding: 12px 0;
        bottom: -85px;
        left: 0;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        background: rgba(255, 255, 255, .8);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        border: 1px solid rgba(255, 255, 255, 0.18);
        backdrop-filter: blur(10px);
    }
}